<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="leaflet/leaflet.css" />
    <script src="leaflet/leaflet.js"></script>
    <title>Data_visualastion</title>
</head>
<body class="data">
    <section class="map-container">
        <div id="map"></div>
        <div class="mask"></div>
    </section>
    <section class="data-sec">
        <div class="svg-container svg5">
            <img class="marker" src="/images/visualisation/marker_bubble.png" alt="">
            <h2>The Great Barrier Reef</h2>
        </div>
        <div class="svg-container svg1">
            <img class="visual" src="/images/visualisation/temperature.png"/>
            <h3>temperature</h3>
            <div class="overlay-text tem"><%=temp %></div>
        </div>
        <div class="svg-container svg2">
            <img class="visual" src="/images/visualisation/pH data.png"/>
            <h3>ph</h3>
            <div class="overlay-text ph"><%=ph %></div>
        </div>
        <div class="svg-container svg3">
            <img class="loc" src="/images/visualisation/salinity data.png"/>
            <h3>salinity</h3>
            <div class="overlay-text sal"><%=salinity%>%</div>
        </div>
        <div class="svg-container svg4">
            <img class="loc" src="/images/visualisation/pollutants.png"/>
            <h3>pollutatns</h3>
            <div class="overlay-text pol">Medium</div>
        </div>
        <a href="/explore">
            <img class="btn-back" src="/images/visualisation/Backiocn.png" alt="">
        </a>
        <div class="animation">
            <a href="/interaction" class="link-display">
                <!-- <img class="display" src="/images/visualisation/SVG/bubble_btright.svg" alt=""/> -->
                <img class="display" src="/images/animation/In-bubble.gif" alt="">
            </a>
            <!-- <img class="fish" src="/images/animation/nemo-fish.gif" alt=""> -->
        </div>
    </section>

</body>
<script>
    // Create a map centered on Australia
    var map = L.map('map').setView([-16.000, 150.000], 5);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attributionControl: false
    }).addTo(map);
    var test = <%-JSON.stringify(data)%>
    console.log(test)
    var geoJSONData = [
        {
            "type": "Feature",
            "properties": {
                "name": "Coral Sea Marine Park",
                "color": "pink"

            },
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [144.0000, -10],
                        [144.0000, -11.6833],
                        [144.0000, -12.300],
                        [145.0000, -12.3000],
                        [145.6631, -12.3000],
                        [146.0833, -17.0833],
                        [153.3583, -21.3000],
                        [154.0000, -24.5000],
                        [158.0833, -24.5000],
                        [156.0833, -19.2866],
                        [158.0833, -16.2833],
                        [155.0833, -14.0000],
                        [144.0000, -10.6833]
                    ]
                ]
            }
        }
    

    ];

    function style(feature) {
        return {
            radius: 8,
            fillColor: feature.properties.color,
            weight: 2,
            opacity: 1,
            color: 'pink',
            fillOpacity: 0.7
        };
    }
    function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.name) {
            layer.bindPopup('<div class="popup-content">' + feature.properties.name + '</div>');
        }
    }

    // Create a GeoJSON layer and add it to the map
    var geoJSONLayer = L.geoJSON(test, {
        style: style,
        onEachFeature: onEachFeature
    }).addTo(map);

</script>
</html>