<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Explore</title>
</head>
<body class="explore">
    <section class="explore-sec">
        <div class="left">
            <img src="images/explore/frame.png" alt="frame">
        </div>
        <div class="right">
            <div class="svg-container svg1">
                <img class="loc" src="images/explore/SVG/Park1/park1.svg" alt="park1"/>
                <div class="overlay-text">Tasman Fracture Marine Park</div>
            </div>
            <div class="svg-container svg2">
                <img class="loc" src="images/explore/SVG/Park2/park2.svg" alt="park2"/>
                <div class="overlay-text">Oceanic Shoals Marine Park</div>
            </div>
            <div class="svg-container svg3">
                <img class="loc" src="images/explore/SVG/Park3/park3.svg" alt="park3"/>
                <div class="overlay-text">Perth Canyon Marine Park</div>
            </div>
            <div class="svg-container svg4">
                <img class="loc" src="images/explore/SVG/Park5/park5.svg" alt="park5"/>
                <div class="overlay-text">Gascoyne Marine Park</div>
            </div>
            <div class="svg-container svg5">
                <img class="loc" src="images/explore/SVG/Park4/park4.svg" alt="park4"/>
                <div class="overlay-text">Coral Sea Marine Park</div>
            </div>
        </div>
        <a href="/data_visual">
            <img class="btn" src="images/explore/SVG/ball.svg" alt=""/>
        </a>
    </section>
</body>
</html>