<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Echoes of the Ocean</title>
</head>
<body class="home">
    <section class="home-sec">
        <img class="bubble" src="images/homepage/bubble_up.png" alt="">
        <img class="bubble" src="images/homepage/bubble_mid.png" alt="">
        <img class="bubble" src="images/homepage/bubble_bottom.png" alt="">
        <div class="left">
            <a href="explore.ejs">
                <img src="/images/homepage/submarine.png" alt="submarine">
            </a>
        </div>
        <div class="right">
            <a href="#">
                <img src="images/homepage/title_bubble.png" alt="">
            </a>
        </div>
    </section>
</body>
</html>