<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <script src="/leaflet/leaflet.js"></script>
    <title>Echoes of the Ocean</title>
</head>
<body class="interaction">
    <section class="inter-sec">
        <div class="main-controls">
            <input class="timeline" type="button" data-slider="0" value="2003">
            <input class="timeline" type="button" data-slider="1" value="2023">
            <input class="timeline" type="button" data-slider="2" value="2043">
            <input class="timeline" type="button" data-slider="3" value="2063">
            <input class="timeline" type="button" data-slider="4" value="2083">
        </div>
        <div class="progress">
            <img src="/images/interaction/SVG/progress_car.svg" alt="">
        </div>
         <!-- 幻燈片切換尚 -->
        <section class="carousel slider-group">
            <h3 class="year">The year of 2003</h3>
            <div class="slider-wrapper active" id="slider0">
                    <div class="slider">
                        <div class="slide">
                            <img src="/images/scene/Scene I.gif" >
                        </div>
                    </div>
                </div>
                <div class="slider-wrapper" id="slider1">
                    <div class="slider">
                        <div class="slide">
                            <img src="/images/scene/Scene I.gif" >
                        </div>
                    </div>
                </div>
                <div class="slider-wrapper" id="slider2">
                    <div class="slider">
                        <div class="slide">
                            <img src="/images/scene/On-Scene-II/Fish1.gif">
                        </div>
                        <div class="slide">
                            <img src="/images/scene/On-Scene-II/Human1.gif">
                        </div>
                        <div class="slide">
                            <img src="/images/scene/On-Scene-II/Bird1.gif" ">
                        </div>
                        <div class="slide">
                            <img src="/images/scene/Scene-II.gif" >
                        </div>
                        <div class="slide">
                            <img src="/images/scene/Anime-I.gif" >
                        </div>
                    </div>
                </div>
                <div class="slider-wrapper" id="slider3">
                    <div class="slider">
                        <div class="slide">
                            <img src="/images/scene/On-Scene-III/Fish2.gif">
                        </div>
                        <div class="slide">
                            <img src="/images/scene/On-Scene-III/Human2.gif">
                        </div>
                        <div class="slide">
                            <img src="/images/scene/On-Scene-III/Bird2.gif" ">
                        </div>
                        <div class="slide">
                            <img src="/images/scene/Scene-III.gif" >
                        </div>
                        <div class="slide">
                            <img src="/images/scene/Anime-II.gif" >
                        </div>
                    </div>
                </div>
                <div class="slider-wrapper" id="slider4">
                    <div class="slider">
                        <div class="slide">
                            <img src="/images/scene/On-Scene-IV/Fish3.gif">
                        </div>
                        <div class="slide">
                            <img src="/images/scene/On-Scene-IV/Human3.gif">
                        </div>
                        <div class="slide">
                            <img src="/images/scene/On-Scene-IV/Bird3.gif" ">
                        </div>
                        <div class="slide">
                            <img src="/images/scene/Scene-IV.gif" >
                        </div>
                        <div class="slide">
                            <img src="/images/scene/Anime-III.gif" >
                        </div>
                    </div>
                </div>
                <!-- 按鈕會控制t跟影片 -->
                <div class="controls">
                    <input class="market btn-control" type="button" value="market" data-target="0">
                    <input class="human btn-control" type="button" value="human" data-target="1">
                    <input class="species btn-control" type="button" value="species" data-target="2">
                    <input class="ocean btn-control" type="button" value="ocean" data-target="3">
                    <input style="display: none;" class="current btn-control" type="button" value="current" data-target="4">
                </div>
        </section>
         <!-- 幻燈片切換  -->
        <a class="btn" href="/data_visual">BACK</a>
        <!-- park title -->
        <div class="svg-container svg5">
            <img class="marker" src="/images/visualisation/marker_bubble.png" alt="">
            <h2>The Great Barrier Reef</h2>
        </div>
         <!-- park title  -->
    </section>
    <!-- marine info -->
    <section class="info">
        <img class="car" src="/images/interaction/PNG/car.png" alt="">
        <div class="svg-container svg1">
            <img class="visual" src="/images/visualisation/temperature.png"/>
            <h3>temperature</h3>
            <div class="overlay-text tem">26.3</div>
        </div>
        <div class="svg-container svg2">
            <img class="visual" src="/images/visualisation/sin_bubble.png">
            <h3>ph</h3>
            <div class="overlay-text ph">8.2</div>
        </div>
        <div class="svg-container svg3">
            <img class="visual" src="/images/visualisation/sin_bubble.png">
            <h3>co2</h3>
            <div class="overlay-text co2">1.5</div>
        </div>
    </section>
    <!-- marine info -->
    <!-- 地圖區塊 -->
    <section id="openMap" class="map-container">
        <div id="map"></div>
        <div class="mask"></div>
    </section>
    <!-- 地圖區塊 -->
    <!-- Trigger/Open The Modal -->
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">X</span>
            <p>showing map......</p>
            <!-- 地圖放這 -->
            <!-- <div id="map"></div> -->
        </div>
    </div>

</body>
 <script>

    var reef = <%-JSON.stringify(all_reef)%>
    var reef_bleaching = <%-JSON.stringify(reef_bleaching)%>
    var all_bleaching = []
    <% reef_bleaching_data.forEach((item, index) => { %>
            all_bleaching.push(<%-JSON.stringify(item) %>)
    <% }); %>
    
    var render_lists = {
        '2003': [true, true, true, true],
        '2023': [true, true, true, false],
        '2043': [true, true, false, false],
        '2063': [true, false, false, false],
        '2083': [false, false, false, false]
    }
        
    // Create a map centered on Australia
    var map = L.map('map').setView([-16.000, 150.000], 4);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attributionControl: false
    }).addTo(map);
    var customIcon = L.icon({
        iconUrl: '/images/visualisation/marker_bubble.png',
        iconSize: [50, 50],
        iconAnchor: [22, 10],
    });
    L.marker([-16.000, 150.000], { icon: customIcon }).addTo(map);
    
     // Get the modal
    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    var btn = document.getElementById("openMap");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    function style(feature) {
        return {
            radius: 8,
            fillColor: feature.properties.color,
            weight: 2,
            opacity: 1,
            color: 'pink',
            fillOpacity: 0.7
        };
    }
    function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.name) {
            layer.bindPopup('<div class="popup-content">' + feature.properties.name + '</div>');
        }
    }

    var normal_style = {
        radius: 1,
        fillColor: "#ff7800",
        color: "#ff7800",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };
    var bleaching_style = {
        radius: 1,
        fillColor: "#ffffff",
        color: "#ffffff",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };

    function render_normal(data){
        L.geoJSON(data, {
        pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng, normal_style);
        }
        }).addTo(map);
    }

    function render_bleaching(data){
        L.geoJSON(data, {
        pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng, bleaching_style);
        }
        }).addTo(map);
    }

    function render_map(data, enable_list) {
        for(let i=0; i<3; i++){
            if(enable_list[i]===true){
                render_normal(all_bleaching[i])
            }else{
                render_bleaching(all_bleaching[i])
            }
        }
    }

    // var render_list = [true, true, false, false]
    // render_map(all_bleaching, render_list)




    // for reef data
    // var geoJSONLayer = L.geoJSON(reef, {
    //     style: style,
    //     onEachFeature: onEachFeature
    // }).addTo(map);

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
        // Initialize the second map here, when the modal is displayed
       
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    // mainControls control timeline
    const mainControls = document.querySelector('.main-controls');
    const sliderWrappers = document.querySelectorAll('.slider-wrapper');
    const carIcon = document.querySelectorAll('.timeline');

    // Function to set the last slide to the bottom of the given slider
    function setLastSlideToBottom(slider) {
        const slides = slider.querySelectorAll('.slide');
        if (slides && slides.length > 0) {
            const lastSlideOffsetTop = slides[slides.length - 1].offsetTop;
            slider.scrollTop = lastSlideOffsetTop;
        }
    }

    // default car icon when loading the page
    document.querySelector('.timeline[data-slider="0"]').style.backgroundImage = 'url("/images/interaction/SVG/progress_car.svg")';
    mainControls.addEventListener('click', function(e) {
        if (e.target.tagName === 'INPUT' && e.target.type === 'button') {
            const targetSlider = e.target.getAttribute('data-slider');
            // Reset background image for all .timeline elements
            carIcon.forEach(timeline => {
                timeline.style.backgroundImage = '';
            });
            sliderWrappers.forEach((slider, idx) => {
                if (idx == targetSlider) {
                    slider.classList.add('active');
                    let title = document.querySelector('.year');
                    title.innerHTML = `The Year of ${e.target.value}`;
                    // Set a background image to the clicked .timeline element
                    e.target.style.backgroundImage = 'url("/images/interaction/SVG/progress_car.svg")';
                    setLastSlideToBottom(slider);
                    // render map
                    render_map(all_bleaching, render_lists[e.target.value])
                    console.log(e.target.value)

                } else {
                    slider.classList.remove('active');
                }
            });
        }
    });

    // Ensure the first slider 
    if (sliderWrappers.length > 0) {
        setLastSlideToBottom(sliderWrappers[0]);
    }

    // shared btn for underwater to market
    const globalControls = document.querySelector('.controls');
    globalControls.addEventListener('click', function(e) {
        if (e.target.tagName === 'INPUT' && e.target.type === 'button') {
            const activeSliderWrapper = document.querySelector('.slider-wrapper.active');
            const slides = activeSliderWrapper.querySelectorAll('.slide');
            const targetOffsetTop = slides[e.target.getAttribute('data-target')].offsetTop;
            activeSliderWrapper.scrollTo({
                top: targetOffsetTop,
                behavior: "smooth"
            });
        }
    });
 </script>
</html>