body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'P22MuschampPro', Arial, sans-serif;
    overflow: hidden;
}

body.home {
    background-image: url(../images/homepage/background.png);
}

body.explore {
    background-image: url(../images/explore/background.png);
}

body.data {
    background-image: url(../images/visualisation/Background.png);
}

@font-face {
    font-family: 'P22MuschampPro';
    src: url('/frontend/font/P22MuschampPro.ttf') format('truetype');
  }

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}


/* homepage */
.home-sec .bubble {
    position: absolute;
    animation: float 3s ease-in-out infinite;
}

.home-sec .bubble:nth-of-type(1) {
    top: 2%;
    right: 32%;
}

.home-sec .bubble:nth-of-type(2) {
    top: 53%;
    left: 47%;
    animation: float 5s ease-in-out infinite;
}

.home-sec .bubble:nth-of-type(3) {
    bottom: 9%;
    left: 40%;
    animation: float 4s ease-in-out infinite;
}


.home-sec .left {
    position: absolute;
    top: 16%;
    left: 20%;
}

.home-sec .left img {
    width: 28vw;
    height: auto;
    animation: float 6s ease-in-out infinite;
}

.home-sec .right {
    position: absolute;
    top: 15%;
    right: 6%;
    animation: float 2s ease-in-out infinite;
}


.home-sec .right img {
    width: 37vw;
    height: auto;
}

.map-container {
    position: absolute;
    top: 11%;
    left: 30%;
    transform: translateX(-49.5%);
    width: 70%;
    aspect-ratio: 1.75;
    max-width: 600px;
    max-height: 600px;
    margin: 0;
    padding: 0;
    
}

#map {
    width: 580px;
    height: 580px;
    border-radius: 50%;
    position: relative;
}

.mask {
    background-image: url(/images/explore/frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 127%;
    width: 127%;
    position: absolute;
    top: 0%;
    left: -18%;
    pointer-events: none;
    z-index: 999;
}


.explore-loc .svg-container {
    position: absolute;
    width: 12vw;
}
  
.explore-loc .overlay-text {
    width: 9vw;
    margin: 0 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.2em;
}

.explore-loc .svg1 {
    top: 13%;
    right: 28%;
    animation: float 6s ease-in-out infinite;
}


.explore-loc .svg2 {
    top: 6%;
    right: 12%;
    animation: float 3s ease-in-out infinite;
}

.explore-loc .svg3 {
    top: 30%;
    right: 2%;
    animation: float 5s ease-in-out infinite;
}

.explore-loc .svg4 {
    top: 55%;
    right: 10%;
    animation: float 4s ease-in-out infinite;
}

.explore-loc .svg5 {
    top: 43%;
    right: 25%;
    animation: float 7s ease-in-out infinite;
}

.explore .btn {
    width: 10vw;
    position: absolute;
    bottom: 0px;
    right: 360px;
}

/* data_visul */
.data {
    font-family: 'P22MuschampPro';
}
.data .map-container {
    top: 4%;
}
.data-sec {
    color: white;
    font-size: 35px;
}

.data-sec .btn-back {
    width: 9vw;
    position: absolute;
    bottom: 0;
    left: 3%;
}

.data-sec .display {
    width: 23vw;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.data-sec .fish {
    width: 50vw;
    position: absolute;
    bottom: 0;
    right: -3%;
}

.data-sec .svg-container {
    position: absolute;
    width: 12vw;
}

.data-sec .svg-container img:not(.marker){
    width: 11vw;
    height: auto;
}

.data-sec .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
}

.overlay-text.tem {
    left: 30%;
}

.overlay-text.ph {
    top: 74%;
}

.overlay-text.sal {
    top: 33%;
}

.data-sec .svg1 {
    top: 40%;
    right: 32%;
    animation: float 3s ease-in-out infinite;
}

.data-sec .svg2 {
    top: 18%;
    right: 25%;
    animation: float 4s ease-in-out infinite;
}

.data-sec .svg3 {
    top: 28%;
    right: 13%;
    animation: float 5s ease-in-out infinite;
}

.data-sec .svg4 {
    top: 19%;
    right: 1%;
    animation: float 2s ease-in-out infinite;
}

.data-sec .svg5 {
    display: flex;
    align-items: center;
    top: 3%;
    right:23%;
}

.data-sec .marker {
    width: 5vw;
    height: auto;
    margin-right: 10px;
}

.data-sec h2 {
    color: aqua;
    white-space: nowrap;
    margin-left: 5px;
}

